
<div class="row mt-3">
  <div class="col-sm-12">
    <div class="d-flex justify-content-center">

      <div style="width: 500px;" class=" card p-5 shadow">
        <div class="d-flex my-3 justify-content-center">
          <h3 class=" font-weight-bold">LOGIN</h3>
        </div>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   name="email"
                   required
                   email
                   ngModel
                   class="form-control"
                   id="email"
                   aria-describedby="emailHelp"
                   placeholder="Enter email">
            <div id="emailError" *ngIf="(f.form.controls['email'].valid == false && f.form.controls['email'].touched) || (submitted && !f.form.controls['email'].valid)"
                   class="text-danger">
                   <small *ngIf="f.form.controls['email'].errors['required'] == true">Email is required</small>
                   <small *ngIf="f.form.controls['email'].errors['email'] == true">Enter valid email</small>
            </div>
          <div>
            <small id="emailError2"
            class="text-danger" *ngIf="emailDoesntExist">Email doesn't exist</small>
          </div>
          </div>


          <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   name="remember"
                   [(ngModel)]="rememberMe"
                   id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <div class=" d-flex mt-3">
            <button type="submit" [disabled]="loggingIn" class="btn btn-primary flex-fill">
              <div class=" d-flex">
                <div class="flex-grow-1">
                  {{loggingIn? 'Logging In': 'Login'}}
                </div>
                <div class="spinner-border text-light mr-3" *ngIf="loggingIn" role="status">
                </div>
              </div>
            </button>
          </div>
          <small class="text-danger" *ngIf="error_msg !== null && error_msg !== '' && error_msg !== undefined">{{ error_msg }}</small>
        </form>

        <div class=" mt-2">
          <small class=" text-muted">Don't have account?</small>
          <a class="btn-link ml-2" [routerLink]="['/registration']">Register</a>
        </div>
      </div>

    </div>

  </div>
</div>



