<h3 class=" m-3">Dashboard</h3>
<div class=" container">
  <div class=" row">
    <div class=" col-sm-12 col-md-4">
      <div class=" card border-0 rounded shadow">
        <div class=" d-flex flex-column">
          <div class="d-flex flex-column bg-gray-100 p-3">
            <div class="mb-3 d-flex">
              <i class="fad fa-comments-alt"></i>
              <div class="font-weight-bold ml-2">Messages</div>
            </div>
            <div class="small font-weight-bold mb-2">Start new chat</div>
            <form #d="ngForm" (ngSubmit)="onSearchSubmit()">
              <div class=" d-flex">
                <input type="text" autocomplete="off"  name="search_str" (input)="onSearchInput($event)" [(ngModel)]="search_str" class="form-control" placeholder="Search user" />
              </div>
            </form>
          </div>



          <!-- chat room list -->
          <div class=" d-flex flex-column" *ngIf="showChatRooms">
            <div class=" d-flex flex-column py-5 justify-content-center align-items-center" *ngIf="chat_room_list.length == 0">
              <i class="fad fa-3x fa-empty-set"></i>
              <div class=" mt-3 font-weight-bold">You have no messages!</div>
            </div>
            <div *ngFor="let item of chat_room_list" class="px-3 mb-2 py-2" [ngClass]="{'border-left-primary': selected_chat_room != undefined && selected_chat_room.id == item.id}">
              <a (click)="onChatRoomSelected($event, item.id)" [ngClass]="{'text-primary': selected_chat_room != undefined && selected_chat_room.id == item.id}">
                <div  class=" d-flex">
                  <i  class="fad  fa-user"></i>
                  <div style="height: 50px;"  class="ml-2 font-weight-bold">{{ item.name }}</div>
                </div>
              </a>
          </div>
          </div>




          <!-- user search list -->
          <div class=" d-flex flex-column" *ngIf="showUserList">
            <a  class="p-3" *ngFor="let item of user_list" (click)="onUserSelected($event, item.id)">
              <div class=" align-items-center d-flex">
                <div class="profile-img-container bg-light d-flex justify-content-center align-items-center">
                  <i class="fas fa-user"></i>
                </div>
                <div class=" font-weight-bold ml-3"><span>{{item.first_name}}</span> <span class=" ml-1">{{ item.last_name }}</span></div>
              </div>
            </a>
            <div class=" d-flex flex-column py-5 justify-content-center align-items-center" *ngIf="user_list.length == 0 && search_str.length > 0">
              <i class="fad fa-3x fa-empty-set"></i>
              <div class=" mt-3 font-weight-bold">No user found. Search again.</div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-8">
      <app-message-details *ngIf="selected_chat_room != undefined" #messageBody [chat_room]="selected_chat_room"></app-message-details>
    </div>
  </div>
</div>
