<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Online Chat</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            *ngIf="userService.isLoggedIn"
            class="nav-item"
            [routerLinkActive]="['active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item"  *ngIf="!userService.isLoggedIn" [routerLinkActive]="['active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"
              >Login</a
            >
          </li>


<!-- user information -->
          <li class="nav-item dropdown no-arrow" *ngIf="userService.isLoggedIn">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-column">
                  <div class="mr-2 font-weight-bold d-none d-lg-inline text-dark">
                    <span>{{ userService.user.first_name }}</span>
                    <span class="ml-2">{{ userService.user.last_name }}</span>
                  </div>

                </div>
                <div>
                  <img class="img-profile rounded-circle" style="object-fit:cover; width: 20px; height: 20px;"
                  src="/assets/default-avatar.png">
                </div>
              </div>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <div class=" dropdown-item-text font-weight-bold">
                <i class="fad fa-sm fa-fw fa-id-card  text-gray-400 mr-2"></i><span>{{ userService.user.id }}</span>
              </div>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
